{% load static %}

<aside class="left-sidebar" data-sidebarbg="skin5">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav" class="p-t-30">
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{% url 'index' %}" aria-expanded="false"><i class="mdi mdi-view-dashboard"></i><span class="hide-menu">Dashboard</span></a></li>
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{% url 'users' %}" aria-expanded="false"><i class="mdi mdi-chart-bar"></i><span class="hide-menu">Users</span></a></li>
                <li class="sidebar-item"> <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="mdi mdi-face"></i><span class="hide-menu">Categories </span></a>
                    <ul aria-expanded="false" class="collapse  first-level">
                        <li class="sidebar-item"><a href="{% url 'category' %}" class="sidebar-link"><i class="mdi mdi-note-outline"></i><span class="hide-menu">Main Categories</span></a></li>
                        <li class="sidebar-item"><a href="{% url 'subcategory' %}" class="sidebar-link"><i class="mdi mdi-note-plus"></i><span class="hide-menu">Sub Categories</span></a></li>
                    </ul>
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{% url 'product' %}" aria-expanded="false"><i class="mdi mdi-chart-bubble"></i><span class="hide-menu">Products</span></a></li>
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{% url 'orders' %}" aria-expanded="false"><i class="mdi mdi-border-inside"></i><span class="hide-menu">Orders</span></a></li>
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{% url 'admin_reviews' %}" aria-expanded="false"><i class="mdi mdi-blur-linear"></i><span class="hide-menu">Reviews</span></a></li>
                <li class="sidebar-item"> <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="mdi mdi-face"></i><span class="hide-menu">Discounts</span></a>
                    <ul aria-expanded="false" class="collapse  first-level">
                        <li class="sidebar-item"><a href="{% url 'coupon' %}" class="sidebar-link"><i class="mdi mdi-note-outline"></i><span class="hide-menu">Coupon</span></a></li>
                        <li class="sidebar-item"><a href="{% url 'offer' %}" class="sidebar-link"><i class="mdi mdi-note-plus"></i><span class="hide-menu">Offers</span></a></li>
                    </ul>
                    
                    <li class="sidebar-item"> <a class="sidebar-link  waves-effect waves-dark" href="{% url 'notifications' %}" aria-expanded="false"><i class="mdi mdi-receipt"></i><span class="hide-menu">Notifications</span></a>
                </li>
              
                </li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>